.container {
  margin-top: 40px;
  padding: 50px;
  border: 3px solid white;
  border-radius: 6px;
  background-color: white;
  max-width: 800px;
  background: transparent;

  font-family: "Roboto", sans-serif;
}

.bg-light {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
}

.bg-dark {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

.btn-light {
  margin-top: 30px;
}

body {
  height: 100vh;
}

h1 {
  font-size: 40px;
}

ul.city-info {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 300;
}

.days-week-container {
  text-align: center;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 18px;
  margin: 10px;
  padding: 12px;
}

.days-week {
  font-weight: 500;
}

.days-week-icon {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 36px;
}

.days-week-temperature {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.main-info {
  margin-top: 32px;
}

.main-icon-container {
  text-align: center;
  position: relative;
}

#icon {
  font-size: 90px;
}

.main-icon-info {
  font-size: 20px;
  margin: 5px;
  font-weight: 500;
}

.main-temperature-container {
  text-align: center;
  position: relative;
  top: -25px;
}

.main-temperature {
  font-size: 90px;
}

.temperature-switcher-container {
  position: absolute;
  top: -4px;
  right: 0;
}

.temperature-switcher-button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

.feels-like-max-min {
  font-size: 13px;
  position: relative;
  top: -25px;
  right: 15px;
  font-weight: 300;
}

.fa-sun {
  color: rgb(253, 192, 11);
}

.fa-cloud {
  color: #9baeb7;
}

.fa-cloud-bolt {
  color: #9baeb7;
}

.fa-wind {
  color: #9baeb7;
}

.footer {
  text-align: center;
  display: block;
}

#description {
  text-transform: capitalize;
}
